a {
  text-decoration: none;
  color: inherit;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url('./hexa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.recommend-button {
  margin-top: -20px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: #36837ebb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.recommend-button:hover {
  background-color: #65fcf2ad;
}

.App-header input[type="text"] {
  padding: 0.5em;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
  margin-bottom: 1em;
}

.App-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0e2525;
}

.Article {
  background-color: #0c0e14;
  width: 50%;
  max-width: 500px;
  margin: 1em;
  padding: 1em 3em 2em 2em;
  text-align: left;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.Article-title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: white;
}

.Article-category {
  color: gray;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.Article-description {
  font-size: 0.9em;
  color: gray;
  margin-top: 1em;
}

.Article-bottom {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}

.Article-description {
  margin-left: 1em;
  width: 60%;
}

.Article-bottom img {
  width: 40%;
  height: auto;
  margin-right: 1em;
}
